/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
/* Components */
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/footer.css");
/* Utilities */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #FFFFFF;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */
